---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import SpotTypes from "../components/SpotTypes.astro";
import Features from "../components/Features.astro";
import About from "../components/About.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <SpotTypes />
    <Features />
    <About />
    <CTA />
  </main>
  <Footer />
</Layout>
